.box{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-200px) translateY(-100px);
        -ms-transform: translateX(-200px) translateY(-100px);
            transform: translateX(-200px) translateY(-100px);
    width: 400px;
    height: 200px;
    background: #fff;
    border: 1px solid red;
}
.div {
    width: 300px;
    height: 100px;
    background-color: rgba(255,255,0,0.7);
    /*opacity: 0.6;*/
    box-shadow: 10px 10px 10px 3px #f00;
    /*box-shadow: 0px 0px 10px 10px #f00;*/
    margin: 50px;
}
.div:hover{
    /*box-shadow: -10px -10px 5px 20px #888888;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /*box-shadow: 30px -10px 20px 0 #0cea15, -30px 10px 20px 0 #9509ad;*/
    -webkit-transition: all 0.5s 0s ease-out;
    transition: all 0.5s 0s ease-out;
    /*time must be have unit 0s*/
    /*长度 0 === 0px*/
    cursor: pointer;
}
h1{
    text-align: center;
    text-shadow: 3px 5px 7px rgba(0,0,0,0.5);
    /* linear-gradient/radial-gradient color ? */
    /* multi text-shadow ?*/
}