:not(.head) > hr::before {
    content: "\2727\2003\2003\2727\2003\2003\2727";
}



hr {
    font-size: 1.5em;
    text-align: center;
    margin: 1em auto;
    height: auto;
    border: transparent solid 0;
    background: transparent;
}

