/*
Custom version of:
https://github.com/pakastin/deck-of-cards/blob/master/example/example.css
see licence: https://github.com/pakastin/deck-of-cards/blob/master/LICENSE
*/


.card {
  position: relative;
  width: 3.875rem;
  height: 5.5rem;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  cursor: default;
}
.card:before,
.card:after {
  position: absolute;
  font-size: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  white-space: pre-line;
  width: 0.55rem;
  letter-spacing: -0.1rem;
}
.card:before {
  top: 0.15rem;
  left: 0;
}
.card:after {
  bottom: 0.1rem;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .face {
  height: 100%;
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card.spades,
.card.clubs,
.card.joker {
  color: #000;
}
.card.hearts,
.card.diamonds,
.card.joker.rank3 {
  color: #d40000;
}
.card.joker.rank1:before,
.card.joker.rank2:before,
.card.joker.rank3:before,
.card.joker.rank1:after,
.card.joker.rank2:after,
.card.joker.rank3:after {
  content: "J\a O\a K\a E\a R";
  letter-spacing: 0;
  font-size: 0.4rem;
  line-height: 0.4rem;
  padding: 0.15rem 0.05rem;
  width: 0.5rem;
}
.card.rank1:before,
.card.rank1:after {
  content: "A";
}
.card.rank2:before,
.card.rank2:after {
  content: "2";
}
.card.rank3:before,
.card.rank3:after {
  content: "3";
}
.card.rank4:before,
.card.rank4:after {
  content: "4";
}
.card.rank5:before,
.card.rank5:after {
  content: "5";
}
.card.rank6:before,
.card.rank6:after {
  content: "6";
}
.card.rank7:before,
.card.rank7:after {
  content: "7";
}
.card.rank8:before,
.card.rank8:after {
  content: "8";
}
.card.rank9:before,
.card.rank9:after {
  content: "9";
}
.card.rank10:before,
.card.rank10:after {
  content: "10";
}
.card.rank11:before,
.card.rank11:after {
  content: "J";
}
.card.rank12:before,
.card.rank12:after {
  content: "Q";
}
.card.rank13:before,
.card.rank13:after {
  content: "K";
}
.card.spades.rank1 .face {
  background-image: url("/img/cardfaces/0_1.svg");
}
.card.spades.rank2 .face {
  background-image: url("/img/cardfaces/0_2.svg");
}
.card.spades.rank3 .face {
  background-image: url("/img/cardfaces/0_3.svg");
}
.card.spades.rank4 .face {
  background-image: url("/img/cardfaces/0_4.svg");
}
.card.spades.rank5 .face {
  background-image: url("/img/cardfaces/0_5.svg");
}
.card.spades.rank6 .face {
  background-image: url("/img/cardfaces/0_6.svg");
}
.card.spades.rank7 .face {
  background-image: url("/img/cardfaces/0_7.svg");
}
.card.spades.rank8 .face {
  background-image: url("/img/cardfaces/0_8.svg");
}
.card.spades.rank9 .face {
  background-image: url("/img/cardfaces/0_9.svg");
}
.card.spades.rank10 .face {
  background-image: url("/img/cardfaces/0_10.svg");
}
.card.spades.rank11 .face {
  background-image: url("/img/cardfaces/0_11.svg");
}
.card.spades.rank12 .face {
  background-image: url("/img/cardfaces/0_12.svg");
}
.card.spades.rank13 .face {
  background-image: url("/img/cardfaces/0_13.svg");
}
.card.hearts.rank1 .face {
  background-image: url("/img/cardfaces/1_1.svg");
}
.card.hearts.rank2 .face {
  background-image: url("/img/cardfaces/1_2.svg");
}
.card.hearts.rank3 .face {
  background-image: url("/img/cardfaces/1_3.svg");
}
.card.hearts.rank4 .face {
  background-image: url("/img/cardfaces/1_4.svg");
}
.card.hearts.rank5 .face {
  background-image: url("/img/cardfaces/1_5.svg");
}
.card.hearts.rank6 .face {
  background-image: url("/img/cardfaces/1_6.svg");
}
.card.hearts.rank7 .face {
  background-image: url("/img/cardfaces/1_7.svg");
}
.card.hearts.rank8 .face {
  background-image: url("/img/cardfaces/1_8.svg");
}
.card.hearts.rank9 .face {
  background-image: url("/img/cardfaces/1_9.svg");
}
.card.hearts.rank10 .face {
  background-image: url("/img/cardfaces/1_10.svg");
}
.card.hearts.rank11 .face {
  background-image: url("/img/cardfaces/1_11.svg");
}
.card.hearts.rank12 .face {
  background-image: url("/img/cardfaces/1_12.svg");
}
.card.hearts.rank13 .face {
  background-image: url("/img/cardfaces/1_13.svg");
}
.card.clubs.rank1 .face {
  background-image: url("/img/cardfaces/2_1.svg");
}
.card.clubs.rank2 .face {
  background-image: url("/img/cardfaces/2_2.svg");
}
.card.clubs.rank3 .face {
  background-image: url("/img/cardfaces/2_3.svg");
}
.card.clubs.rank4 .face {
  background-image: url("/img/cardfaces/2_4.svg");
}
.card.clubs.rank5 .face {
  background-image: url("/img/cardfaces/2_5.svg");
}
.card.clubs.rank6 .face {
  background-image: url("/img/cardfaces/2_6.svg");
}
.card.clubs.rank7 .face {
  background-image: url("/img/cardfaces/2_7.svg");
}
.card.clubs.rank8 .face {
  background-image: url("/img/cardfaces/2_8.svg");
}
.card.clubs.rank9 .face {
  background-image: url("/img/cardfaces/2_9.svg");
}
.card.clubs.rank10 .face {
  background-image: url("/img/cardfaces/2_10.svg");
}
.card.clubs.rank11 .face {
  background-image: url("/img/cardfaces/2_11.svg");
}
.card.clubs.rank12 .face {
  background-image: url("/img/cardfaces/2_12.svg");
}
.card.clubs.rank13 .face {
  background-image: url("/img/cardfaces/2_13.svg");
}
.card.diamonds.rank1 .face {
  background-image: url("/img/cardfaces/3_1.svg");
}
.card.diamonds.rank2 .face {
  background-image: url("/img/cardfaces/3_2.svg");
}
.card.diamonds.rank3 .face {
  background-image: url("/img/cardfaces/3_3.svg");
}
.card.diamonds.rank4 .face {
  background-image: url("/img/cardfaces/3_4.svg");
}
.card.diamonds.rank5 .face {
  background-image: url("/img/cardfaces/3_5.svg");
}
.card.diamonds.rank6 .face {
  background-image: url("/img/cardfaces/3_6.svg");
}
.card.diamonds.rank7 .face {
  background-image: url("/img/cardfaces/3_7.svg");
}
.card.diamonds.rank8 .face {
  background-image: url("/img/cardfaces/3_8.svg");
}
.card.diamonds.rank9 .face {
  background-image: url("/img/cardfaces/3_9.svg");
}
.card.diamonds.rank10 .face {
  background-image: url("/img/cardfaces/3_10.svg");
}
.card.diamonds.rank11 .face {
  background-image: url("/img/cardfaces/3_11.svg");
}
.card.diamonds.rank12 .face {
  background-image: url("/img/cardfaces/3_12.svg");
}
.card.diamonds.rank13 .face {
  background-image: url("/img/cardfaces/3_13.svg");
}
.card.joker.rank1 .face {
  background-image: url("/img/cardfaces/4_1.svg");
}
.card.joker.rank2 .face {
  background-image: url("/img/cardfaces/4_2.svg");
}
.card.joker.rank3 .face {
  background-image: url("/img/cardfaces/4_3.svg");
}
