html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}
#content{         /*整个页面*/
    width: 100%;
    height: 100%;
    background: #abe3d8;
    overflow: hidden;
    perspective-origin:center;
    position: relative;
    perspective: 1000px;
}
#wrap{
    position: relative;
    width: 840px;
    height: 720px;
    margin: 100px auto;
    transform-style: preserve-3d;
}
.cube{            /*大立方体*/
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    box-sizing: border-box;
    transform: translateZ(0px) rotateX(0deg) rotateY(0deg);
    transform-origin:center center -50px;
}
.cube_side{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 10px solid;          /*不设颜色，默认值是color的颜色*/
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100px 100px;
}
.front_num{
    position: absolute;
    top: 0px;
    left: 10px;
    font-size:60px;
    font-family: helvetica;
    color: #fff;
    letter-spacing: -5px;
}
#head{
    position: absolute;
    height: 80px;
    width: 100%;
    background: white;
}
#head .month{
    float: left;
    height: 80px;
    padding: 0 20px;
    font-size: 28px;
    line-height: 50px;
    font-family: "微软雅黑";
    vertical-align: top;
    position: relative;
}
#head #months{
    height: 80px;
    float: right;
}
#head .month:hover,.hover{
    background: black;
    color: #fff;
    cursor: pointer;
}
#head #year{
    position: relative;
    top: 8px;
    font-size: 70px;
    color: black;
    margin:0  50px;
    font-family: helvetica;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: -5px;
}
.e{
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 14px;
}
.d{
    position: absolute;
    font-size: 16px;
    top: -3px;
    right: -2px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: normal;
    transition: 3s ease-in;
}
#info{
    position: absolute;
    left: 1400px;
    top: 850px;
    font-family: helvetica;
    font-size: 68px;
    letter-spacing: -5px;
    font-weight: bold;
    word-spacing: -10px;
    color: white;
}
.fest{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    width: 14px;
    color: white;
    font-family: "微软雅黑";
}
