* {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

.dp-n {
    display: none
}

.dp-i {
    display: inline
}

.dp-b {
    display: block
}

.dp-ib {
    display: inline-block
}

.fl-l {
    float: left
}

.fl-r {
    float: right
}

.cl-b {
    clear: both
}

.ff-a {
    font-family: Arial,sans-serif
}

.ff-t {
    font-family: Tahoma,sans-serif
}

.ff-v {
    font-family: Verdana,sans-serif
}

.ff-s {
    font-family: Simsun,sans-serif
}

.ff-l {
    font-family: 'Lucida Console',sans-serif
}

.ff-w {
    font-family: 'Microsoft Yahei',sans-serif
}

.ff-skk {
    font-family: STKaiti,KaiTi,SimSun,sans-serif
}

.ta-c {
    text-align: center
}

.ta-r {
    text-align: right
}

.ta-l {
    text-align: left
}

.ta-j {
    text-align: justify
}

.ps-r {
    position: relative
}

.ps-a {
    position: absolute
}

.disabled {
    cursor: not-allowed
}

a:focus {
    outline: none
}

.title-text {
    font-size: 20px;
    font-weight: bold
}

.font-red {
    color: #ff0142
}

.font-orange {
    color: #ff5102
}

.ont-gray {
    color: #999
}

.font-black {
    color: #000
}

.title-text {
    font-size: 20px;
    font-weight: bold
}

.price-em-gray:before {
    content: '¥';
    color: #999
}

.price-em:before {
    content: '¥';
    color: #ff0042
}

.price-em-black:before {
    co9tent: '¥';
    color: #333
}

.price-em-orange:before {
    content: '¥';
    color: #ff5102
}

.font-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.bg-gray {
    background: #888
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb:horizontal {
    border-radius: 6px;
    background: #AFACAC
}

.NSimSun {
    font-family: "新宋体";
    font-size: 12px
}

.YaHei-Regular {
    font-family: "Microsoft YaHei";
    font-weight: bold
}

.YaHei {
    font-family: "Microsoft YaHei"
}

.pagination li a {
    color: #999
}

.pagination .active a {
    color: #fff;
    background-color: #ff0142;
    border-color: #ff0142
}

.pagination .active a:hover {
    color: #fff;
    background-color: #ff0142;
    border-color: #ff0142
}

#cover_modal_element {
    position: fixed;
    z-index: 1101;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: .8;
    filter: alpha(opacity=80)
}

#loading_modal_element .cover_modal_element {
    position: fixed;
    z-index: 1101;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: .8;
    filter: alpha(opacity=80);
    top: 0;
    left: 0
}

#loading_modal_element .loading-modal-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    z-index: 1202;
    width: 150px;
    height: 150px;
    background: url(/mall/images/icon/loading.gif) no-repeat 0 0
}

#loading_modal_element .loading-modal-text {
    position: absolute;
    top: 70%;
    left: 50%;
    margin: -10px 0 0 -100px;
    z-index: 1202;
    width: 200px;
    height: 30px;
    color: #fff
}

#alert_modal_element .cover_modal_element {
    position: fixed;
    z-index: 1101;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: .8;
    filter: alpha(opacity=80);
    top: 0;
    left: 0
}

#alert_modal_element .alert-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    z-index: 1203;
    width: 300px;
    height: 200px;
    background: #f3f4f9;
    padding: 10px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 3px #888888;
    border-radius: 6px
}

#alert_modal_element .alert-modal-body {
    width: 100%;
    height: 54%;
    text-align: center;
    margin-top: 16%;
    overflow: hidden
}

#alert_modal_element .alert-modal-body div,#alert_modal_element .alert-modal-body span,#alert_modal_element .alert-modal-body h1 {
    font-size: 14px
}

#alert_modal_element .alert-modal-body .alert-modal-text {
    width: 100%;
    height: 100%;
    display: block;
    word-wrap: break-word;
    word-break: break-all;
    font: 18px "Microsoft YaHei",Arial,Lucida Grande,Tahoma,sans-serif;
    font-weight: 500;
    overflow: hidden
}

#alert_modal_element .alert-modal-footer {
    width: 100%;
    height: 20%;
    text-align: right
}

#alert_modal_element .alert-modal-footer #alert_modal_close {
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding: 8px 30px;
    margin-right: 20px;
    background: #298aeb
}

#confirm_modal_element .cover_modal_element {
    position: fixed;
    z-index: 1162;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: .8;
    filter: alpha(opacity=80);
    top: 0;
    left: 0
}

#confirm_modal_element .confirm-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -190px;
    z-index: 1204;
    width: 380px;
    height: 240px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 6px
}

#confirm_modal_element .confirm-modal-content #confirm_modal_header {
    width: 100%;
    height: 20%
}

#confirm_modal_element .confirm-modal-content .confirm-modal-body {
    width: 100%;
    height: 80%
}

#confirm_modal_element .confirm-modal-content .confirm-modal-body #confirm_modal_text {
    width: 100%;
    height: 100%;
    display: block;
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px solid #e5e5e5
}

#confirm_modal_element .confirm-modal-content .confirm-modal-body #confirm_modal_text .cancel-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #e5e5e5
}

#confirm_modal_element .confirm-modal-content .confirm-modal-body #confirm_modal_text .cancel-order {
    margin-top: 20px;
    width: 70%;
    margin-left: 15%
}

#confirm_modal_element .confirm-modal-content .confirm-modal-body #confirm_modal_text .cancel-order span {
    font: 14PX "Microsoft YaHei",Arial,Lucida Grande,Tahoma,sans-serif;
    font-weight: bold
}

#confirm_modal_element .confirm-modal-content .confirm-modal-footer {
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: 7px
}

#confirm_modal_element .confirm-modal-content .confirm-modal-footer .footer-button-success {
    width: 30%;
    float: left;
    margin-left: 20%
}

#confirm_modal_element .confirm-modal-content .confirm-modal-footer .footer-button-false {
    width: 30%;
    float: left
}

#confirm_modal_element .confirm-modal-content .confirm-modal-footer .confirm-modal-button {
    border: none;
    background: #298aeb;
    border-radius: 2px;
    color: #ffffff;
    padding: 8px 30px
}

#confirm_modal_element .confirm-modal-content .confirm-modal-footer .modal-success {
    background: #f15e5d
}

#new_code_modal .modal-dialog,#myModal .modal-dialog {
    width: 347px;
    height: 176px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -88px;
    margin-left: -173.5px
}

#new_code_modal .modal-dialog .modal-content,#myModal .modal-dialog .modal-content {
    border-radius: 0
}

#new_code_modal .modal-dialog .modal-content .modal-header,#myModal .modal-dialog .modal-content .modal-header {
    width: 100%;
    height: 35px;
    background-color: #f2f2f2;
    padding: 0;
    text-align: center;
    position: relative
}

#new_code_modal .modal-dialog .modal-content .modal-header .modal-title,#myModal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 14px;
    line-height: 35px;
    color: #000000
}

#new_code_modal .modal-dialog .modal-content .modal-header .close,#myModal .modal-dialog .modal-content .modal-header .close {
    width: 35px;
    height: 35px;
    line-height: 35px;
    opacity: 1;
    font-size: 29px;
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0
}

#new_code_modal .modal-dialog .modal-content .modal-body,#myModal .modal-dialog .modal-content .modal-body {
    height: 100px;
    padding: 25px 20px
}

#new_code_modal .modal-dialog .modal-content .modal-body .code-input,#myModal .modal-dialog .modal-content .modal-body .code-input {
    display: block;
    width: 302px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 13px
}

#new_code_modal .modal-dialog .modal-content .modal-body .wrong-code,#myModal .modal-dialog .modal-content .modal-body .wrong-code {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0 10px;
    color: #f11932
}

#new_code_modal .modal-dialog .modal-content .modal-footer,#myModal .modal-dialog .modal-content .modal-footer {
    height: 40px;
    padding: 5px 50px;
    background-color: #f2f2f2
}

#new_code_modal .modal-dialog .modal-content .modal-footer .footer-btn,#myModal .modal-dialog .modal-content .modal-footer .footer-btn {
    width: 118px;
    height: 30px;
    line-height: 0;
    border: 1px solid #e5e5e5;
    border-radius: 0
}

#arrival_notice .modal-dialog {
    width: 650px;
    height: 306px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1101;
    margin-left: -325px;
    margin-top: -153px
}

#arrival_notice .modal-dialog .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0
}

#arrival_notice .modal-dialog .modal-content .modal-header {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #f2f2f2;
    padding: 0;
    position: relative
}

#arrival_notice .modal-dialog .modal-content .modal-header .close {
    margin: 9px 15px 0 0;
    opacity: 1;
    width: 26px;
    height: 26px;
    text-align: center;
    color: #d8d8d8;
    border-radius: 50%;
    background: #fff;
    cursor: pointer
}

#arrival_notice .modal-dialog .modal-content .modal-header .close span {
    display: inline-block;
    width: 27px;
    height: 26px;
    line-height: 24px
}

#arrival_notice .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 14px;
    line-height: 45px;
    color: #000000;
    padding-left: 20px;
    float: left
}

#arrival_notice .modal-dialog .modal-content .modal-header .btn-modal {
    width: 35px;
    height: 35px;
    line-height: 35px;
    opacity: 1;
    font-size: 29px;
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0
}

#arrival_notice .modal-dialog .modal-content .modal-body {
    height: 180px;
    text-align: center;
    font-size: 16px;
    color: #707070;
    line-height: 160px
}

#arrival_notice .modal-dialog .modal-content .modal-body .code-input {
    display: block;
    width: 302px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 13px
}

#arrival_notice .modal-dialog .modal-content .modal-body .wrong-code {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0 10px;
    color: #f11932
}

#arrival_notice .modal-dialog .modal-content .modal-footer {
    border-top: 0
}

#arrival_notice .modal-dialog .modal-content .modal-footer .btn {
    width: 110px;
    height: 30px;
    background: #ff0042;
    color: #fff;
    outline: none
}

#arrival_notice .modal-dialog .modal-content .modal-footer .btn-success {
    margin-right: 40px;
    border: 0;
    line-height: 0
}

#arrival_notice .modal-dialog .modal-content .modal-footer .btn-warning {
    margin-right: 175px;
    background: #f3f3f3;
    border: 1px solid #ededed;
    color: #000;
    line-height: 0
}

#arrival_notice .modal-dialog .modal-content .modal-footer .footer-btn {
    width: 118px;
    height: 30px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 0
}

#get_cash .modal-dialog {
    width: 900px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1101;
    margin-left: -450px;
    margin-top: -260px
}

#get_cash .modal-dialog .modal-content {
    height: 100%;
    position: relative
}

#get_cash .modal-dialog .modal-content .modal-header {
    border-bottom: 0;
    height: 56px;
    font-size: 18px;
    color: #000;
    text-align: center;
    position: relative
}

#get_cash .modal-dialog .modal-content .modal-header .close-icon {
    background: url("/mall/images/icon/newUser.png") no-repeat -1140px -43px;
    cursor: pointer;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -10px;
    right: -16px
}

#get_cash .modal-dialog .modal-content .modal-body {
    padding: 0
}

#get_cash .modal-dialog .modal-content .modal-body table {
    width: 100%;
    text-align: center
}

#get_cash .modal-dialog .modal-content .modal-body table tr {
    height: 38px;
    width: 100%
}

#get_cash .modal-dialog .modal-content .modal-body table tr td {
    width: 25%
}

#get_cash .modal-dialog .modal-content .modal-body table thead {
    background: #f7f7f7;
    border: 1px solid #ededed;
    border-left: 0;
    border-right: 0
}

#get_cash .modal-dialog .modal-content .modal-body table thead tr {
    color: #000
}

#get_cash .modal-dialog .modal-content .modal-body table thead tr td {
    background: #f7f7f7
}

#get_cash .modal-dialog .modal-content .modal-body table tbody tr {
    color: #888
}

#get_cash .modal-dialog .modal-content .modal-body table tbody tr .btn-get {
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    margin: 0 auto;
    border-radius: 2px
}

#get_cash .modal-dialog .modal-content .modal-body table tbody tr .btn-get-red {
    width: 92px;
    height: 30px;
    background: #ff0042;
    cursor: pointer
}

#get_cash .modal-dialog .modal-content .modal-body table tbody tr .btn-get-gray {
    background: #888;
    cursor: not-allowed;
    width: 92px;
    height: 30px
}

#get_cash .modal-dialog .modal-content .modal-body table tbody tr:nth-child(2n) {
    background: #fafafa
}

#get_cash .modal-dialog .modal-content .modal-body table tbody .no-cash {
    width: 400%;
    height: 300px;
    line-height: 300px;
    text-align: center
}

#get_cash .modal-dialog .modal-content .get-success {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 60px;
    line-height: 60px;
    margin-left: -125px;
    margin-top: -30px;
    background: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    color: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 1101
}

#get_cash .pagination {
    margin-left: 400px
}

#get_cash .pager-record {
    margin: 29px 64px 0 0;
    float: right
}

#grown-detail .modal-body {
    text-align: left;
    padding: 0 0 10px 0
}

.browser-compatible {
    width: 100%;
    display: none;
    position: absolute;
    top: 110px;
    z-index: 2;
    background: #fff
}

.browser-compatible .compatible-top {
    width: 100%;
    height: 10px;
    background: #fada5a;
    box-shadow: 0px 2px 2px #b3b3b3
}

.browser-compatible .compatible-container {
    max-width: 1190px;
    min-width: 960px;
    height: 415px;
    margin: 3px auto;
    overflow: hidden;
    background: #fff
}

.browser-compatible .compatible-container .browser-download {
    width: 328px;
    height: 162px;
    margin: 95px auto 0px auto
}

.browser-compatible .compatible-container .browser-download .browser-icon {
    width: 33.3%;
    height: 100%
}

.browser-compatible .compatible-container .browser-download .browser-icon .browser-icon-360 {
    background: url("/mall/images/icon/per-info.png") no-repeat -35px -170px;
    width: 77px;
    height: 77px;
    overflow: hidden;
    margin: 10px auto
}

.browser-compatible .compatible-container .browser-download .browser-icon span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font: 12px "Microsoft YaHei",Arial,Lucida Grande,Tahoma,sans-serif;
    color: #000;
    margin-top: -2px
}

.browser-compatible .compatible-container .browser-download .browser-icon .browser-icon-google {
    background: url("/mall/images/icon/per-info.png") no-repeat -188px -162px;
    width: 77px;
    height: 77px;
    overflow: hidden;
    margin: 10px auto
}

.browser-compatible .compatible-container .browser-download .browser-icon .browser-icon-commit {
    display: block;
    padding: 10px 0;
    margin-top: 25px;
    cursor: pointer;
    text-decoration: none;
    background: url("/mall/images/icon/per-info.png") no-repeat -156px -240px;
    width: 90px;
    height: 30px;
    margin-left: 10px
}

.browser-compatible .compatible-container .browser-download .browser-tip {
    width: 33.3%;
    line-height: 206px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #71b803;
    text-align: center
}

.browser-compatible .compatible-container .prompt-text {
    text-align: center;
    position: relative;
    width: 780px;
    margin: 120px auto 0 auto
}

.browser-compatible .compatible-container .prompt-text .prompt-text-icon {
    background: url("/mall/images/icon/per-info.png") no-repeat -293px -160px;
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 6px;
    padding-left: 0
}

.browser-compatible .compatible-container .prompt-text span {
    color: #b0b0b0;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    font: 12px "Microsoft YaHei",Arial,Lucida Grande,Tahoma,sans-serif;
    padding-left: 30px
}

.browser-compatible .compatible-container .prompt-text .prompt-text-green {
    color: #71b803;
    font-style: normal
}

.browser-compatible .compatible-img {
    width: 100%;
    background: url("/mall/images/login/logo-bg0.png") repeat-x;
    height: 488px
}

.browser-compatible .compatible-img .compatible-img-content {
    background: url("/mall/images/login/logo-bg.png");
    width: 742px;
    height: 487px;
    margin: 0 auto
}

.browser-compatible .compatible-bottom {
    width: 100%;
    height: 676px;
    background: url("/mall/images/login/logo-bt.png") repeat-x
}

.browser-compatible .compatible-bottom .compatible-bottom-content {
    background: url("/mall/images/login/logo-btCon.png");
    margin: 0 auto;
    width: 536px;
    height: 676px
}

.browser-compatible .compatible-footer {
    height: 112px;
    width: 100%;
    text-align: center;
    height: 112px;
    line-height: 112px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #727272
}

.top-title-element {
    width: 100%;
    background: #fff;
    height: 110px
}

.top-title-element .top-title-text {
    max-width: 1190px;
    min-width: 960px;
    margin: 0 auto;
    padding: 5px 17px 5px 25px;
    overflow: hidden
}

.top-title-element .top-title-text .top-logo-left {
    width: 30%;
    float: left;
    margin: 20px
}

.top-title-element .top-title-text .top-logo-right {
    width: 300px;
    float: right
}

.top-title-element .top-title-text .top-logo-right .right-customer {
    background: url("/mall/images/login/customer.gif") no-repeat;
    width: 60px;
    height: 90px;
    margin: 5px 0;
    float: left
}

.top-title-element .top-title-text .top-logo-right .right-content {
    float: left;
    width: 240px;
    height: 100px
}

.top-title-element .top-title-text .top-logo-right .right-content .content-top {
    height: 40px;
    float: left;
    margin-top: 20px
}

.top-title-element .top-title-text .top-logo-right .right-content .content-top .top-img {
    background: url("/mall/images/login/icon-bg.png") no-repeat -189px -1px;
    width: 21px;
    height: 20px;
    margin: 10px 30px;
    float: left
}

.top-title-element .top-title-text .top-logo-right .right-content .content-top .top-text {
    float: left;
    height: 40px;
    line-height: 40px;
    color: #696968;
    font-size: 17px;
    font-weight: 500;
    font-family: '微软雅黑'
}

.top-title-element .top-title-text .top-logo-right .right-content .content-bottom {
    height: 40px;
    float: left
}

.top-title-element .top-title-text .top-logo-right .right-content .content-bottom .bottom-img {
    background: url("/mall/images/login/icon-bg.png") no-repeat -210px -1px;
    width: 22px;
    height: 20px;
    margin: 10px 30px;
    float: left
}

.top-title-element .top-title-text .top-logo-right .right-content .content-bottom .bottom-text {
    float: left;
    height: 40px;
    line-height: 40px;
    color: #696968;
    font-size: 17px;
    font-weight: 500;
    font-family: '微软雅黑'
}

.top-title-element .top-title-text .top-logo-WeChat {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 100px
}

.top-title-element .top-title-text .top-logo-WeChat .WeChat-img {
    width: 80px;
    height: 80px;
    margin: 0 10px
}

.top-title-element .top-title-text .top-logo-WeChat .WeChat-font {
    width: 100px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #ff3e00;
    display: block;
    font-size: 14px;
    font-weight: bold;
    font-family: "微软雅黑 Regular"
}

.top-title-element .top-title-text .top-text-right {
    width: 70%;
    float: right;
    font-size: 16px;
    color: #fe6716;
    font-family: "Microsoft YaHei";
    text-align: right
}

.top-title-element .top-title-text .top-text-right .top-right-input {
    background: none;
    margin-left: 30px;
    border: 0
}

.login-content-element {
    width: 100%;
    background: url("/mall/images/login/login-1.jpg") center
}

.login-content-element .content-center-element {
    height: 500px;
    max-width: 1190px;
    min-width: 960px;
    margin: 0 auto;
    position: relative
}

.login-content-element .content-center-element .content-center-text {
    width: 273px;
    height: 268px;
    border: 1px solid #ededed;
    background: rgba(255,255,255,0.8);
    position: absolute;
    top: 70px;
    right: 15px;
    z-index: 1;
    padding: 30px 32px 15px 32px;
    margin-right: 80px
}

.login-content-element .content-center-element .content-center-text .content-img {
    background: url("/mall/images/login/icon-bg.png") -73px -1px;
    text-align: center;
    width: 115px;
    height: 28px;
    margin: 0 79px
}

.login-content-element .content-center-element .content-center-text .content-center-ID {
    position: relative;
    padding-top: 45px;
    height: 40px
}

.login-content-element .content-center-element .content-center-text .content-center-ID input::-ms-clear {
    display: none
}

.login-content-element .content-center-element .content-center-text .content-center-ID .content-center-label {
    width: 39px;
    height: 38px;
    background: url("/mall/images/login/icon-bg.png") no-repeat 8px 8px,#d9d9d9;
    position: absolute;
    top: 46px;
    right: 15px;
    z-index: 1;
    left: 1px
}

.login-content-element .content-center-element .content-center-text .content-center-ID .content-center-input {
    padding: 10px 46px 10px 50px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #9b9b9b;
    font-family: "Microsoft YaHei";
    border: 1px solid #cbcbcb;
    outline: none
}

.login-content-element .content-center-element .content-center-text .content-center-ID span {
    width: 15px;
    height: 15px;
    display: none;
    background: url("/mall/images/login/icon-bg.png") -53px -32px;
    position: absolute;
    top: 58px;
    right: 10px;
    z-index: 1;
    cursor: pointer
}

.login-content-element .content-center-element .content-center-text .content-center-code {
    padding-top: 30px
}

.login-content-element .content-center-element .content-center-text .content-center-code .content-center-code-label {
    position: absolute;
    top: 31px;
    right: 15px;
    z-index: 1;
    left: 1px;
    background: url("/mall/images/login/icon-bg.png") no-repeat -31px 9px,#d9d9d9
}

.login-content-element .content-center-element .content-center-text .content-center-button {
    margin-top: 15px;
    width: 272px;
    height: 44px;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 44px;
    border: none;
    color: #fff;
    text-align: center;
    background-color: #ff3e00;
    border-radius: 10px;
    font-family: '微软雅黑';
    letter-spacing: 4px
}

.login-content-element .content-center-element .content-center-text .content-center-button.not-submit {
    color: #f5f5f5;
    background-color: gray;
    cursor: not-allowed
}

.login-content-element .content-center-element .content-center-text .content-free-load {
    margin-top: 10px
}

.login-content-element .content-center-element .content-center-text .content-free-load label {
    font-size: 14px;
    color: #9b9b9b;
    margin-top: 10px
}

.login-content-element .content-center-element .content-center-text .login-find {
    cursor: pointer
}

.login-content-element .content-center-element .content-center-text .login-find .find-password {
    text-decoration: none;
    font-size: 14px;
    color: #ff3e00
}

.login-content-element .content-center-element .content-center-text .content-center-csc {
    padding-top: 36px
}

.login-content-element .content-center-element .content-center-text .content-center-csc h5 {
    font-size: 14px;
    color: #fff;
    font-family: "Microsoft YaHei"
}

.login-content-element .content-center-element .content-center-text .content-center-csc h5 a {
    font-size: 14px;
    color: #fff000;
    font-family: "Microsoft YaHei";
    padding-left: 5px
}

.login-content-element .content-center-element .content-center-text .content-center-csc .center-csc-text {
    padding-top: 10px
}

.login-content-element .content-center-element .content-center-text .content-center-csc .center-csc-text span {
    font-size: 14px;
    color: #fff;
    font-family: "Microsoft YaHei"
}

.login-content-element .content-center-element .content-center-text .content-center-csc .center-csc-text span .csc-info {
    display: inline-block;
    float: left
}

.login-content-element .content-center-element .content-center-text .content-center-csc .center-csc-text span em {
    width: 17px;
    height: 17px;
    display: block;
    background: url("/mall/images/login/icon-bg.png") no-repeat 0px -32px;
    float: left;
    margin: 0 2px 0 0
}

.login-content-element .content-center-element .content-center-text .content-center-csc .center-csc-text span .center-csc-tel {
    background: url("/mall/images/login/icon-bg.png") no-repeat -16px -32px
}

.login-content-element .content-center-element .content-center-text .content-center-csc .center-csc-text span .center-csc-time {
    background: url("/mall/images/login/icon-bg.png") no-repeat -33px -32px;
    margin-left: 10px
}

.login-content-element .content-center-element .content-center-text .content-center-feedback {
    border: none;
    padding: 10px 90px;
    border-radius: 3px;
    background: red;
    border: none;
    padding: 7px 90px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    font-family: "Microsoft YaHei";
    margin: 13px
}

.login-footer-element .login-footer-text {
    width: 900px;
    margin: 0 auto;
    font-size: 12px;
    color: #5f5f5f;
    font-family: "Microsoft YaHei";
    padding: 10px 0;
    text-align: center
}

/*# sourceMappingURL=login.mall.css.map */
