 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html of StoryBox</title>
</head>
<body>
    <div id="story-app">
        🎅❄🎄🎁🔀⛄🔔Loading...
        <!-- Target container -->
    </div>
    <!--  -->
    <script src="./libs/react.min.js"></script>
    <script src="./libs/react-dom.min.js"></script>
    <script src="./libs/babel.min.js"></script>
    <!-- babel  -->
    <script type="text/babel" src="./components.jsx"></script>
</body>
</html>
<!-- 
    <div id="container">
         🎅❄🎄🎁🔀⛄🔔Loading...
    </div>
    <script src="./libs/react.min.js" crossorigin="anonymous"></script>
    <script src="./libs/react-dom.min.js" crossorigin="anonymous"></script>
    <script src="./libs/babel.min.js" crossorigin="anonymous"></script>
    <script src="./hellocomponent.jsx" type="text/babel" ></script>
 -->
