<div>
    <h1>{{carParts}}</h1>
    <ul>
        <li *ngFor="let carPart of carParts">
            <h2><mark>{{carPart.id}}</mark></h2>
            <h3>{{carPart.name | uppercase}}</h3>
            <p>{{carPart.desc}}</p>
            <p *ngIf="carPart.inStock > 0">{{carPart.inStock }} in Stock</p>
            <p *ngIf="carPart.inStock === 0">Out of Stock</p>
        </li>
    </ul>
</div>


<section class="sec2">
    <table>
        <caption>
            <h1>{{title}}</h1>
            caption
        </caption>
        <colgroup>
            <col span="2" style="background: rgba(255,0,255,0.7)">
            <col span="1" style="background: rgba(0,0,0,0.7)">
            <col span="1" class="col3">
        </colgroup>
        <thead>
            <tr>
                <th>head {{carParts.id}}</th>
                <th>head {{carParts.name}}</th>
                <th>head {{carParts.desc}}</th>
                <th>head {{carParts.inStock}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{carParts.id}}</td>
                <td>{{carParts.name}}</td>
                <td>{{carParts.desc}}</td>
                <td>{{carParts.inStock}}</td>
            </tr>
            <tr>
                <td>{{carParts.id}}</td>
                <td>{{carParts.name}}</td>
                <td>{{carParts.desc}}</td>
                <td>{{carParts.inStock}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>sum {{carParts.id}}</td>
                <td>sum {{carParts.name}}</td>
                <td>sum {{carParts.desc}}</td>
                <td>sum {{carParts.inStock}}</td>
            </tr>
        </tfoot>
    </table>
</section>

<section class="sec1">
    <div class="tb">
        <div class="tbcaption">
            <h1>{{title}}</h1>
            caption
        </div>
        <div class="tbcolgroup">
            <div class="tbcol1"></div>
            <div class="tbcol2"></div>
        </div>
        <div class="tbhead">
            <div class="tbr">
                <div class="tbc">head {{carParts.id}}</div>
                <div class="tbc">head {{carParts.name}}</div>
                <div class="tbc">head {{carParts.desc}}</div>
                <div class="tbc">head {{carParts.inStock}}</div>
            </div>
        </div>
        <div class="tbbody">
            <div class="tbr">
                <div class="tbc">{{carParts.id}}</div>
                <div class="tbc">{{carParts.name}}</div>
                <div class="tbc">{{carParts.desc}}</div>
                <div class="tbc">{{carParts.inStock}}</div>
            </div>
            <div class="tbr">
                <div class="tbc">{{carParts.id}}</div>
                <div class="tbc">{{carParts.name}}</div>
                <div class="tbc">{{carParts.desc}}</div>
                <div class="tbc">{{carParts.inStock}}</div>
            </div>
        </div>
        <div class="tbfoot">
            <div class="tbr">
                <div class="tbc">sum {{carParts.id}}</div>
                <div class="tbc">sum {{carParts.name}}</div>
                <div class="tbc">sum {{carParts.desc}}</div>
                <div class="tbc">sum {{carParts.inStock}}</div>
            </div>
        </div>
    </div>
</section>

<!-- 
http://www.w3schools.com/cssref/pr_class_display.asp
https://css-tricks.com/complete-guide-table-element/
http://quirksmode.org/css/css2/columns.html

 -->