<h1>
    {{title}}
</h1>
<div>
    {{carParts.id}} <br>
    {{carParts.name}} <br>
    {{carParts.desc}} <br>
    {{carParts.inStock}} <br>
</div>
<div class="tb">
    <div class="tbcap">
        {{title}}
    </div>
    <div class="tb tbr">
        <div class="tbc">{{carParts.id}}</div>
        <div class="tbc">{{carParts.name}}</div>
        <div class="tbc">{{carParts.desc}}</div>
        <div class="tbc">{{carParts.inStock}}</div>
    </div>
    <div class="tb tbr">
        <div class="tbc">{{carParts.id}}</div>
        <div class="tbc">{{carParts.name}}</div>
        <div class="tbc">{{carParts.desc}}</div>
        <div class="tbc">{{carParts.inStock}}</div>
    </div>
</div>

<div class="tb">
    <div class="tbcapg">
        {{title}}
    </div>
    <div class="tb tbrg">
        <div class="tbcg">{{carParts.id}}</div>
        <div class="tbcg">{{carParts.name}}</div>
        <div class="tbcg">{{carParts.desc}}</div>
        <div class="tbcg">{{carParts.inStock}}</div>
    </div>
    <div class="tb tbrg">
        <div class="tbcg">{{carParts.id}}</div>
        <div class="tbcg">{{carParts.name}}</div>
        <div class="tbcg">{{carParts.desc}}</div>
        <div class="tbcg">{{carParts.inStock}}</div>
    </div>
</div>
