@charset "UTF-8";
/* @import url("./"); */

div#text {
    min-height: 500px;
    background: #e8e8e8;
    margin: 10px 30px 20px;
    border: #c6c6c6;
    border: 1px solid #666261;
    padding: 20px;
    text-indent: 2em;
}
