@charset "UTF-8";

/* @import url("./"); */

div#text {
    min-height: 500px;
    background: #7b0003;
    margin: 10px 30px 20px;
    border: #c6c6c6;
    border: 1px solid #fff500;
    padding: 20px;
    text-indent: 2em;
    color: #fff500;
}
