$width: 500px;

body {
  background: #d1d3d4;
  font-family: 'Bitter', serif;
}

.container {
  margin: 0 auto;
  display: flex;
  width: $width;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.books {
  width: $width;
}

.booktext {
  white-space: pre-line;
  overflow-wrap: break-word;
  position: absolute;
  font-size: 14px;
  width: 80px;
  height: 110px;
  transform: translate(-35px, 180px) skew(-7deg) rotate(-5deg);
}

.submit {
  color: white;
  border-radius: 3px;
  border: none;
  padding: 6px 8px;
  width: 100%;
  background: #AC2E3A;
  cursor: pointer;
  outline: none;
}

h3 {
  text-align: center;
}

textarea {
  color: #777;
  border: none;
  width: 80px;
  padding: 5px 10px;
  border-radius: 3px;
}
