
@font-face {
  font-family: 'iconfont';  /* project id 231301 */
  src: url('//at.alicdn.com/t/font_afnyjh0ozzqqto6r.eot');
  src: url('//at.alicdn.com/t/font_afnyjh0ozzqqto6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_afnyjh0ozzqqto6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_afnyjh0ozzqqto6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_afnyjh0ozzqqto6r.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont.big {
  font-size: 26px;
}
[data-dpr="2"] .iconfont {
  font-size: 40px;
}
[data-dpr="2"] .iconfont.big {
  font-size: 52px
}
[data-dpr="3"] .iconfont {
  font-size: 60px;
}
[data-dpr="3"] .iconfont.big {
  font-size: 78px;
}
body {
  padding-bottom: 1.2rem;
}
.title-font {
  font-family: serif;
}
.l-m-ellipsis {
  /* autoprefixer: off */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.l-flex {
  display:-ms-flexbox;
  display:flex;
}
.g-show-container {
  opacity: 0;
}
.g-show {
  transition: opacity 0.3s;
  opacity: 1;
}
.g-show-transition {
  transition: all .3s ease;
  opacity: 1;
}
.g-show-enter, 
.g-show-leave {
  opacity: 0;
}

.nav[data-v-839468f2] {
  width: 10rem;
  height: 1.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #ccc;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #757373;
}
.nav .item[data-v-839468f2] {
  -ms-flex: 1;
      flex: 1;
  text-align: center;
  transition: color 0.5s;
}
.nav .item.active[data-v-839468f2] {
  color: #3ca3c7;
}

.foryou h1[data-v-4044a262] {
  font-size: 30px;
  width: 9.2rem;
  padding: 0.266667rem 0.4rem 0 0.4rem;
  color: #3ca3c7;
  font-weight: bold;
}
[data-dpr="2"] .foryou h1[data-v-4044a262] {
  font-size: 60px;
}
[data-dpr="3"] .foryou h1[data-v-4044a262] {
  font-size: 90px;
}
.foryou .section[data-v-4044a262] {
  width: 9.2rem;
  padding: 0.133333rem 0.4rem 0 0.4rem;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.foryou .desc[data-v-4044a262] {
  width: 9.2rem;
  padding: 0 0.4rem 0 0.4rem;
  color: #ccc;
}
.foryou .section .iconfont[data-v-4044a262] {
  color: #3ca3c7;
  font-size: 26px;
  line-height: 1;
}
.foryou .section .title[data-v-4044a262] {
  font-size: 26px;
  color: #3ca3c7;
  font-weight: bold;
  margin-top: 0.266667rem;
}
[data-dpr="2"] .foryou .section .title[data-v-4044a262],
[data-dpr="2"] .foryou .section .iconfont[data-v-4044a262] {
  font-size: 52px;
}
[data-dpr="3"] .foryou .section .title[data-v-4044a262],
[data-dpr="3"] .foryou .section .iconfont[data-v-4044a262] {
  font-size: 78px;
}
.channels-list[data-v-4044a262] {
  width: 10rem;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.channels-list.margin[data-v-4044a262] {
  margin-bottom: 0.5rem;
}

.subscribed[data-v-3a008c1a] {
  width: 9.4rem;
  padding: 0.266667rem 0.3rem;
}
.subscribed-title[data-v-3a008c1a] {
  margin-bottom: 0.2rem;
  font-size: 13px;
  color: #6f6f6f;
  margin-left: 0.133333rem
}
[data-dpr="2"] .subscribed-title[data-v-3a008c1a] {
  font-size: 26px;
}
[data-dpr="3"] .subscribed-title[data-v-3a008c1a] {
  font-size: 39px;
}

.news-item[data-v-56ee4742] {
  width: 100%;
  height: 5.5rem;
  background: #f7f7f7;
  margin-bottom: 0.04rem;
  overflow: hidden;
  position: relative;
}
.news-item .pic[data-v-56ee4742] {
  width: 10rem;
  height: 5.5rem;
}
.news-item .info[data-v-56ee4742] {
  color: #fff;
  position: absolute;
  display: block;
  left: 0;
  padding-left: 0.2rem;
  bottom: 0.2rem;
}
.news-item .title[data-v-56ee4742] {
  -webkit-line-clamp: 3;
  position: absolute;
  left: 0;
  bottom: 0.85rem;
  width: 8.5rem;
  padding: 0.1rem 0 0.1rem 0.2rem;
  font-size: 24px;
  line-height: 1.15;
  color: #fff;
  background: rgba(37, 37, 37, 0.55);
}
[data-dpr="2"] .news-item .title[data-v-56ee4742] {
  font-size: 48px;
}
[data-dpr="3"] .news-item .title[data-v-56ee4742] {
  font-size: 72px;
}

.news-item-card[data-v-c9150fe2] {
  margin: 0 auto;
  padding: 0.3rem;
  background: #fff;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.news-item-card .pic[data-v-c9150fe2] {
  -ms-flex: 1;
      flex: 1;
}
.news-item-card .pic img[data-v-c9150fe2] {
  width: 90%;
  display: block;
}
.news-item-card .content[data-v-c9150fe2] {
  -ms-flex: 2;
      flex: 2;
  color: #636262;
  -webkit-line-clamp: 5;
}
.news-item-card .title[data-v-c9150fe2] {
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 0.2rem;
  -webkit-line-clamp: 2;
}
[data-dpr="2"] .news-item-card .title[data-v-c9150fe2] {
  font-size: 44px;
}
[data-dpr="3"] .news-item-card .title[data-v-c9150fe2] {
  font-size: 66px;
}
.news-item-card .time[data-v-c9150fe2] {
  margin-top: 0.066667rem;
  text-align: right;
  color: #636262;
}

.news-list-action[data-v-030d0380] {
  position: fixed;
  right: 0.3rem;
  bottom: 2.0rem;
  width: 1.066667rem;
  text-align: center;
}
.news-list-action p[data-v-030d0380] {
  line-height: 100%;
  padding: 0.333333rem 0;
  color: #fff;
  margin-bottom: 0.266667rem;
  background: rgba(0,0,0,0.3);
}

.channel-item[data-v-0674a26d] {
  width: 2.666667rem;
  height: 2.666667rem;
  margin: 0.4rem auto 1rem auto;
  position: relative;
  border: 1px solid rgba(171,171,171,0.3);
}
.channel-item .content[data-v-0674a26d] {
  width: 2.666667rem;
  height: 2.666667rem;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden;
}
.channel-item .logo[data-v-0674a26d] {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.channel-item .name[data-v-0674a26d] {
  margin-top: 0.2rem;
  text-align: center;
  color: rgba(171,171,171,1);
}
.channel-item .option[data-v-0674a26d] {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(27,27,27,0.7);
  top: 0;
}

.hot-news[data-v-1d223212] {
  width: 9.2rem;
  padding: 0.266667rem 0.4rem;
}
.hot-news .pic[data-v-1d223212] {
  display: block;
  width: 100%;
  max-height: 6.813333rem;
  border-radius: 0.2rem;
}
.hot-news .channel[data-v-1d223212] {
  display: block;
  width: 1.333333rem;
  margin-top: 0.266667rem;
}
.hot-news .time[data-v-1d223212] {
  color: #636262;
  font-size: 12px;
  margin-top: 0.133333rem;
}
[data-dpr="2"] .hot-news .time[data-v-1d223212] {
  font-size: 22px;
}
[data-dpr="3"] .hot-news .time[data-v-1d223212] {
  font-size: 36px;
}
.hot-news .title[data-v-1d223212] {
  margin-top: 0.266667rem;
  font-size: 24px;
}
[data-dpr="2"] .hot-news .title[data-v-1d223212] {
  font-size: 48px;
}
[data-dpr="3"] .hot-news .title[data-v-1d223212] {
  font-size: 72px;
}

.explore h1[data-v-a74fc96c] {
  font-size: 30px;
  width: 9.2rem;
  padding: 0.266667rem 0.4rem 0 0.4rem;
  color: #3cc791;
  font-weight: bold;
}
[data-dpr="2"] .explore h1[data-v-a74fc96c] {
  font-size: 60px;
}
[data-dpr="3"] .explore h1[data-v-a74fc96c] {
  font-size: 90px;
}
.recommend-news[data-v-a74fc96c] {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hot-news-card[data-v-6aa476a7] {
  width: 4.2rem;
  padding: 0.266667rem 0.4rem;
}
.hot-news-card .pic[data-v-6aa476a7] {
  display: block;
  width: 100%;
  max-height: 2.36rem;
  border-radius: 0.2rem;
}
.hot-news-card .channel[data-v-6aa476a7] {
  display: block;
  margin-top: 0.2rem;
}
.hot-news-card .time[data-v-6aa476a7] {
  color: #636262;
  font-size: 12px;
  margin-top: 0.133333rem;
}
[data-dpr="2"] .hot-news-card .time[data-v-6aa476a7] {
  font-size: 22px;
}
[data-dpr="3"] .hot-news-card .time[data-v-6aa476a7] {
  font-size: 36px;
}
.hot-news-card .title[data-v-6aa476a7] {
  margin-top: 0.266667rem;
  font-size: 18px;
  -webkit-line-clamp: 3;
}
[data-dpr="2"] .hot-news-card .title[data-v-6aa476a7] {
  font-size: 36px;
}
[data-dpr="3"] .hot-news-card .title[data-v-6aa476a7] {
  font-size: 54px;
}

.channels[data-v-514372a9] {
  width: 10rem;
}
.channels .main[data-v-514372a9] {
  width: 10rem;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.channels h1[data-v-514372a9] {
  font-size: 30px;
  width: 9.2rem;
  padding: 0.266667rem 0.4rem 0 0.4rem;
  color: #f14747;
  font-weight: bold;
}
[data-dpr="2"] .channels h1[data-v-514372a9] {
  font-size: 60px;
}
[data-dpr="3"] .channels h1[data-v-514372a9] {
  font-size: 90px;
}

.setting[data-v-0935eef2] {
  width: 10rem;
}
.setting h1[data-v-0935eef2] {
  font-size: 30px;
  width: 9.2rem;
  padding: 0.266667rem 0.4rem 0 0.4rem;
  color: #ff9217;
  font-weight: bold;
}
[data-dpr="2"] .setting h1[data-v-0935eef2] {
  font-size: 60px;
}
[data-dpr="3"] .setting h1[data-v-0935eef2] {
  font-size: 90px;
}
.setting .card[data-v-0935eef2] {
  width: 9.2rem;
  padding: 0.266667rem 0.4rem 0.266667rem 0.4rem;
}
.setting .card h2[data-v-0935eef2] {
  font-size: 20px;
  color: #8c8c8c;
  font-weight: bold;
}
[data-dpr="2"] .setting .card h2[data-v-0935eef2] {
  font-size: 40px;
}
[data-dpr="3"] .setting .card h2[data-v-0935eef2] {
  font-size: 60px;
}
.setting .desc[data-v-0935eef2] {
  color: #8c8c8c;
  margin: 0.266667rem 0;
}
.setting .desc a[data-v-0935eef2] {
  color: #ff9217;
}
.view-list[data-v-0935eef2] {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.view-list .view[data-v-0935eef2] {
  width: 4.0rem;
  margin: 0.266667rem 0;
  text-align: center;
}
.view-list .view img[data-v-0935eef2] {
  display: block;
  width: 100%;
  border: 5px solid #fff;
  transition: border 0.5s;
}
.view-list .view img.selected[data-v-0935eef2] {
  border: 5px solid #ff9217;
}
.view-list .view p[data-v-0935eef2] {
  color: #8c8c8c;
  margin-top: 0.133333rem;
}

.item[data-v-264bcd0d] {
  margin: 0.2rem auto;
  padding: 0.133333rem 0;
  border-bottom: 1px solid rgba(171,171,171,0.7);
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  font-size: 16px;
  color: #8c8c8c;
}
.item .iconfont[data-v-264bcd0d] {
  margin-right: 0.133333rem;
}
[data-dpr="2"] .item[data-v-264bcd0d] {
  font-size: 32px;
}
[data-dpr="3"] .item[data-v-264bcd0d] {
  font-size: 48px;
}

.source-info[data-v-10d69498] {
  padding: 0.333333rem 0.2rem;
  width: 9.6rem;
  -ms-flex-align: top;
      align-items: top;
  border-bottom: 1px solid #ccc;
}
.source-info .logo[data-v-10d69498] {
  -ms-flex: 1;
      flex: 1;
  width: 3.106667rem;
  height: 3.106667rem;
  border: 1px solid rgba(171,171,171,0.3);
  margin-right: 0.266667rem;
  -ms-flex-align: center;
      align-items: center;
}
.source-info .logo img[data-v-10d69498] {
  display: block;
  width: 3.106667rem;
}
.source-info .desc[data-v-10d69498] {
  -ms-flex: 2;
      flex: 2;
  position: relative;
}
.source-info .info[data-v-10d69498] {
  -webkit-line-clamp: 3;
  color: rgba(171,171,171,1);
}
.source-info .title[data-v-10d69498] {
  -webkit-line-clamp: 1;
  font-size: 24px;
  margin-bottom: 0.1rem;
}
[data-dpr="2"] .source-info .title[data-v-10d69498] {
  font-size: 48px;
}
[data-dpr="3"] .source-info .title[data-v-10d69498] {
  font-size: 72px;
}
.source-info .button[data-v-10d69498] {
  position: absolute;
  bottom: 0;
  background: #67cde2;
  border-radius: 0.2rem;
  color: #fff;
  padding: 0.066667rem 0.333333rem;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 16px;
}
.source-info .button .iconfont[data-v-10d69498] {
  margin-right: 0.2rem;
  font-size: 16px;
}
.source-info .sub[data-v-10d69498] {
  left: 0;
}
[data-dpr="2"] .source-info .button[data-v-10d69498],
[data-dpr="2"] .source-info .button .iconfont[data-v-10d69498] {
  font-size: 32px;
}
[data-dpr="3"] .source-info .button[data-v-10d69498],
[data-dpr="3"] .source-info .button .iconfont[data-v-10d69498] {
  font-size: 48px;
}

.channel-tab .tab-section[data-v-07c4cdaa] {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-bottom: 1px solid #ccc;
}
.channel-tab .tab[data-v-07c4cdaa] {
  -ms-flex: 1;
      flex: 1;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 14px;
}
.channel-tab .tab[data-v-07c4cdaa]:nth-child(2) {
  border-left: 1px solid #ccc;
}
.channel-tab .tab.selected[data-v-07c4cdaa] {
  color: #67cde2;
}
[data-dpr="2"] .channel-tab .tab[data-v-07c4cdaa] {
  font-size: 28px;
}
[data-dpr="3"] .channel-tab .tab[data-v-07c4cdaa] {
  font-size: 42px;
}

.loading[data-v-1648f51a] {
  position: fixed;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 1.333333rem;
  height: 1.333333rem;
  z-index: 100;
  text-align: center;
}
.loading .iconfont[data-v-1648f51a] {
  font-size: 40px;
  color: #3ca3c7;
  animation: loading 2s infinite;
}
@keyframes loading {
from {
    transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}
[data-dpr="2"] .loading .iconfont[data-v-1648f51a] {
  font-size: 80px;
}
[data-dpr="3"] .loading .iconfont[data-v-1648f51a] {
  font-size: 120px;
}

/*# sourceMappingURL=app.d497967d11254fd98df7ab7b500392e2.css.map*/