body {
  font-family: 'Helvetica Neue', serif;
  font-size: 18px;
}

#badges {
  text-align: center;
}

.course {
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #EAEAEA;
  display: inline-block;
  height: 350px;
  margin: 20px 10px;
  padding: 15px 10px;
  width: 200px;
}

.course h3 {
  color: #999;
  font-size: 1.9rem;
  font-weight: 200;
  min-height: 80px;;
}

.course img {
  border: none;
  height: 150px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 150px;
}

.course a {
  display: block;
}
